<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <form method="post" action="/admin/login">
        <input type="text" placeholder="enter your username" name="username">
        <input type="password" placeholder="enter your password" name="password">
        <button>Login</button>
    </form>
</body>
</html>