<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form id="homeForm" method="get" action="/check">
        <h3>Who are you??</h3>
        <label for="1">
            <input type="radio" id="1" name="identity" value="user">User
        </label>
        <label for="2">
            <input type="radio" id="2" name="identity" value="admin">Admin
        </label>
        <br>
        <button>Submit</button>
        <script src="app.js"></script>
    </form>
</body>
</html>