<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <p><b>Name: </b><%=user.name%></p>
    <p><b>Username: </b><%=user.username%></p>
    <p><b>Email: </b><%=user.email%></p>
    <p><b>Skills: </b><%=user.skills%></p>
    <button>Edit Details</button>
</body>
</html>