<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
</head>
<body>
    <form method="post" action="/user/signup">
        <input type="text" placeholder="Create Username" name="username">
        <input type="text" placeholder="Create Password" name="password">
        <button>Create Account!</button>
    </form>
</body>
</html>